build/reports/configuration-cache/7wsa2yty34qgcfhw8o4iux7ba/7x5iqcqs99jpaysqx0j00ao4g/configuration-cache-report.html
/app/build/intermediates
/.gradle
/.idea
/.kotlin
/app/build/generated
/app/build
